fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]
python-multipart
sqlalchemy
psycopg2
pandas
xlsxwriter

# Almacenar credenciales
python-dotenv

# Otros paquetes de desarrollo
pytest
pytest-mock
httpx
pytest-asyncio